---
---

$green: #6EC6FF; /* modern sky blue */

@import "jekyll-theme-hacker";

/* Replace >> with + */
li::before {
  content: "+ ";
}

/* Calibri for body text */
body {
  font-family: "Calibri", "Segoe UI", Arial, sans-serif !important;
}
